# 1. 숫자형

## 파이썬을 계산기로 쓰기

계산기가 옆에 없을 때, 파이썬을 계산기로 쓸 수 있다. 초등학교 시절로 돌아가서, 다음 수식을 아래 빈 칸에 똑같이 쓰고 실행해 보자.

1 + 2

In [36]:
1 + 2

3

나눗셈(/)과 곱셈(*) 역시 예상한 대로 결과값을 보여준다.

3 / 2.4

In [37]:
3 / 2.4

1.25

3 * 9

In [38]:
3 * 9

27

Q. 환율이 1달러 당 1200원일 때, 한국 돈 만원 짜리 2장과 오천원 짜리 3장, 천원 짜리 1장은 몇 달러일까?

(10000 * 2 + 5000 * 3 + 1000) / 1200

In [39]:
(10000 * 2 + 5000 * 3 + 1000) / 1200

30.0

변수에 숫자를 대입하고 계산할 수도 있다.

a = 1

b = 2

a + b

In [40]:
a = 1
b = 2
a + b

3

사칙연산 외에도 파이썬에서 쓰이는 다른 수학 기호들도 알아보자.


제곱은 파이썬에서 별표 두개(**)로 표시된다.

a = 3

b = 4

a ** b

In [41]:
a = 3
b = 4
a ** b

81

곱하기 기호(*)를 두개 쓰면 제곱이라니, 그럼 나누기 기호(/)를 두개 쓰면 무엇이 될까?

나눗셈을 하면 몫과 나머지가 생긴다. 나누기 기호 두개(//)는 나눗셈의 몫을 계산한다. 또는 나눗셈 결과에서 소수점 아래를 버린 값이라고 생각해도 좋다.

7 // 4

In [43]:
7 // 4

1

나눗셈의 나머지를 표시하는 기호도 있다. 퍼센트(%)이다.

7 % 3

In [44]:
7 % 3

1

Q. 섭씨를 화씨로 바꾸기 위해서는 9/5를 곱하고 32를 더하면 된다. 섭씨 36.5도는 화씨로 몇 도일까?

36.5 * 9/5 + 32

In [45]:
36.5*(9/5)+32

97.7

Q. 1평은 $3.3m^2$이다. 6평인 정사각형 모양의 방의 한 모서리는 몇 m일까?

In [46]:
(3.3 * 6) ** (1/2)

4.449719092257397

제곱근을 하기 위해 수학 함수를 쓰는 방법도 있다. 나중에 외장 함수를 공부할 때 배우게 될 것이다.

# 2. 문자열 자료형

문자열(String)이란 문자, 단어 등으로 구성된 문자들의 나열을 의미한다. 예를 들어 다음과 같은 것들이 문자열이다.

"Life is too short, You need Python"

"a"

"123"

위의 문자열 예문을 보면 모두 큰따옴표(" ")로 둘러싸여 있다. 123은 숫자이지만 "123"은 문자열이다. 따옴표로 둘러싸여 있으면 모두 문자열이라고 보면 된다.

## 문자열은 어떻게 만들고 사용할까?

#### 1. 큰따옴표로 양쪽 둘러싸기

"Hello World"

#### 2. 작은따옴표로 양쪽 둘러싸기

'Python is fun'

#### 3. 큰따옴표 3개를 연속으로 써서 양쪽 둘러싸기

"""Life is too short, You need python"""

#### 4. 작은따옴표 3개를 연속으로 써서 양쪽 둘러싸기

'''Life is too short, You need python'''

### 문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때

#### 1. 문자열에 작은따옴표 (') 포함시키기

Python's favorite food is perl

위와 같은 문자열을 food라는 변수에 저장하고 싶다고 가정하자. 문자열 중 Python's에 작은따옴표(')가 포함되어 있다.

이럴 때는 다음과 같이 문자열을 큰따옴표(")로 둘러싸야 한다. 큰따옴표 안에 들어 있는 작은따옴표는 문자열을 나타내기 위한 기호로 인식되지 않는다.

In [47]:
food = "Python's favorite food is perl"

food를 입력해서 결과를 확인하자. 변수에 저장된 문자열이 그대로 출력되는 것 을 볼 수 있다.

In [48]:
food

"Python's favorite food is perl"

시험 삼아 다음과 같이 큰따옴표(")가 아닌 작은따옴표(')로 문자열을 둘러싼 후 다시 실행해 보자. 'Python'이 문자열로 인식되어 구문 오류(SyntaxError)가 발생할 것이다.

In [49]:
food = 'Python's favorite food is perl'

SyntaxError: ignored

#### 2. 문자열에 큰따옴표 (") 포함시키기

```
"Python is very easy." he says.
```

위와 같이 큰따옴표(")가 포함된 문자열이라면 어떻게 해야 큰따옴표가 제대로 표현될까? 다음과 같이 문자열을 작은따옴표(')로 둘러싸면 된다.

In [51]:
say = '"Python is very easy." he says.'

In [52]:
say

'"Python is very easy." he says.'

#### 3. \\(백슬래시)를 이용해서 작은따옴표(')와 큰따옴표(")를 문자열에 포함시키기. 

이를 이스케이핑(escaping)이라고 한다.

이스케이핑은 일반적으로 특수한 의미가 있는 문자를 일반 문자로 만들어주는 것을 뜻한다.

In [53]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

In [54]:
say

'"Python is very easy." he says.'

백슬래시(\\)를 작은따옴표(')나 큰따옴표(") 앞에 삽입하면 \(백슬래시) 뒤의 작은따옴표(')나 큰따옴표(")는 문자열을 둘러싸는 기호의 의미가 아니라 문자 ('), (") 그 자체를 뜻하게 된다.

### 여러 줄인 문자열을 변수에 대입하고 싶을 때

문자열이 항상 한 줄짜리만 있는 것은 아니다. 다음과 같이 여러 줄의 문자열을 변수에 대입하려면 어떻게 처리해야 할까?

Life is too short

You need python

#### 1. 줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기

In [55]:
multiline = "Life is too short\nYou need python"

In [56]:
print(multiline)

Life is too short
You need python

#### 2. 연속된 작은따옴표 3개(''') 또는 큰따옴표 3개(""") 이용

In [57]:
multiline = '''
Life is too short
You need python
'''

In [58]:
print(multiline)

Life is too short
You need python

## 문자열 연산하기

파이썬에서는 문자열을 더하거나 곱할 수 있다.

#### 1. 문자열 더해서 연결하기(Concatenation)

In [59]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

#### 2. 문자열 곱하기

In [60]:
a = "python"
a * 2

'pythonpython'

#### 3. 문자열 곱하기 응용

In [62]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

## 문자열 인덱싱과 슬라이싱

인덱싱(Indexing)이란 무엇인가를 "가리킨다"는 의미이고, 슬라이싱(Slicing)은 무엇인가를 "잘라낸다"는 의미이다.

In [63]:
a = "Life is too short, You need Python"

In [64]:
a[3]

'e'

a[3]이 왜 f가 아니라 e인 것일까? 파이썬에서는 다음 명제를 반드시 명심하자.

**숫자는 0부터 시작한다.**

따라서 a[0]은 L이고, a[2]는 f이다.

### 문자열 인덱싱 활용하기

In [65]:
a = "Life is too short, You need Python"

In [66]:
a[0]

'L'

In [67]:
a[12]

's'

In [68]:
a[-1]

'n'

마지막의 a[-1]이 뜻하는 것은 뭘까? 마이너스(-) 기호는 문자열을 뒤에서부터 읽으라는 뜻이다. 즉 a[-1]은 뒤에서부터 세어 첫 번째가 되는 문자를 말한다. 뒤에서부터 첫 번째 문자는 가장 마지막 문자인 'n'이다.

In [69]:
a[-2]

'o'

In [70]:
a[-5]

'y'

### 문자열 슬라이싱이란?

In [9]:
a = "Life is too short, You need Python"

In [71]:
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

위의 방법처럼 단순하게 접근할 수도 있지만 파이썬에서는 더 좋은 방법을 제공한다. 바로 슬라이싱(Slicing) 이라는 기법이다.

In [72]:
a[0:4]

'Life'

a[0:4]가 뜻하는 것은 a라는 문자열, 즉 "Life is too short, You need Python"이라는 문장에서 0부터 4까지의 문자를 뽑아낸다는 뜻이다. 이 때, 끝 번호에 해당하는 문자는 포함되지 않는다는 것에 주의하자.

### 문자열을 슬라이싱하는 방법

In [73]:
a[0:5]

'Life '

위의 예는 a[0] + a[1] + a[2] + a[3] + a[4]와 동일하다. a[4]는 공백 문자이기 때문에 'Life'가 아닌 'Life '가 출력되는 것이다. 공백 문자 역시 L, i, f, e 같은 문자와 동일하게 취급되는 것을 잊지 말자. 'Life'와 'Life '는 완전히 다른 문자열이다.

a[시작 번호:끝 번호]에서 끝 번호 부분을 생략하면 시작 번호부터 그 문자열의 끝까지 뽑아낸다.

In [74]:
a[19:]

'You need Python'

a[시작 번호:끝 번호]에서 시작 번호를 생략하면 문자열의 처음부터 끝 번호까지 뽑아낸다.

In [75]:
a[:17]

'Life is too short'

슬라이싱에서도 인덱싱과 마찬가지로 마이너스(-) 기호를 사용할 수 있다.

In [79]:
a[19:-7]

'You need'

In [81]:
a[:-6] # -6이전 공백까지

'Life is too short, You need '

### 슬라이싱으로 문자열 나누기

다음은 자주 사용하게 되는 슬라이싱 기법 중 하나이다.

In [82]:
a = "20010331Rainy"

In [83]:
date = a[:8]
weather = a[8:]

In [84]:
date

'20010331'

In [85]:
weather

'Rainy'

a라는 문자열을 두 부분으로 나누는 기법이다. 동일한 숫자 8을 기준으로 a[:8], a[8:]처럼 사용했다. a[:8]은 a[8]이 포함되지 않고, a[8:]은 a[8]을 포함하기 때문에 8을 기준으로 해서 두 부분으로 나눌 수 있는 것이다.

## 문자열 포매팅

문자열에서 또 하나 알아야 할 것으로는 문자열 포매팅(Formatting)이 있다. 이것을 공부하기에 앞서 다음과 같은 문자열을 출력하는 프로그램을 작성했다고 가정해 보자.

"현재 온도는 18도입니다."

시간이 지나서 20도가 되면 아래와 같은 문장을 출력한다.

"현재 온도는 20도입니다"

위의 두 문자열은 모두 같은데 20이라는 숫자와 18이라는 숫자만 다르다. 이렇게 문자열 내의 특정한 값을 바꿔야 할 경우가 있을 때 이것을 가능하게 해주는 것이 바로 문자열 포매팅 기법이다.

문자열 포매팅이란 쉽게 말해 문자열 내에 어떤 값을 삽입하는 방법이다.

### Old Way

In [87]:
"I eat %d apples." % 3

'I eat 3 apples.'

문자열 안에서 숫자를 넣고 싶은 자리에 %d라는 문자를 넣어 주고, 삽입할 숫자인 3은 가장 뒤에 있는 % 문자 다음에 써넣었다. 여기서 %d는 문자열 포맷 코드라고 부른다.

In [88]:
"I eat %s apples." % "five"

'I eat five apples.'

위 예제에서는 문자열 내에 또 다른 문자열을 삽입하기 위해 앞서 사용했던 문자열 포맷 코드 %d 가 아닌 %s를 썼다. 숫자를 넣기 위해서는 %d를 써야 하고, 문자열을 넣기 위해서는 %s를 써야 한다.

In [89]:
number = 10
day = "three" 
sentence = "I ate %d apples. so I was sick for %s days."

In [90]:
sentence % (number, day)

'I ate 10 apples. so I was sick for three days.'

### New Way

다음 방법은 더 직관적이고 간결해서 파이썬에서 권장하는 방법이다.

- 데이터타입을 구분하지않는다
- 요즘 많이사용하는 방법!

In [91]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [92]:
"I eat {0} apples".format("five")

'I eat five apples'

In [93]:
"I eat {} apples".format("five")

'I eat five apples'

In [94]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [95]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

## 문자열 관련 함수들

문자열 자료형에는 자체적으로 가지고 있는 유용한 함수들이 몇 개 있다. 그것들을 사용하려면 문자열 변수 이름 뒤에 '.'를 붙인 다음에 함수 이름을 써주면 된다.

#### 양쪽 공백 지우기(strip)

In [96]:
a = " hi "

In [97]:
a.strip()

'hi'

#### 문자열 나누기(split)

In [98]:
a = "Life is too short"

In [99]:
a.split()

['Life', 'is', 'too', 'short']

In [100]:
a = "a:b:c:d"

In [101]:
a.split(':')

['a', 'b', 'c', 'd']

a.split()처럼 괄호 안에 아무런 값도 넣어 주지 않으면 공백을 기준으로 문자열을 나누어 준다. 만약 a.split(':')처럼 괄호 안에 특정한 값이 있을 경우에는 괄호 안의 값을 구분자로 해서 문자열을 나누어 준다.

# 3. 리스트 자료형

지금까지 우리는 숫자와 문자열에 대해서 알아보았다. 하지만 숫자와 문자열만으로 프로그래밍을 하기엔 부족한 점이 많다. 예를 들어 1부터 10까지의 숫자 중 홀수 모음인 1, 3, 5, 7, 9라는 집합을 생각해 보자. 이런 숫자 모음을 숫자나 문자열로 표현하기는 쉽지 않다. 파이썬에는 이러한 불편함을 해소할 수 있는 자료형이 존재한다. 그것이 바로 이 절에서 공부하게될 리스트(List)이다.

## 리스트는 어떻게 만들고 사용할까?

In [ ]:
odd = [1, 3, 5, 7, 9]

In [ ]:
odd

[1, 3, 5, 7, 9]

리스트를 만들 때는 위에서 보는 것과 같이 대괄호([ ])로 감싸 주고 각 요소값들은 쉼표(,)로 구분해 준다.

여러 가지 리스트의 생김새를 살펴보면 다음과 같다.

In [ ]:
a = [ ]
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

## 리스트의 인덱싱과 슬라이싱

리스트도 문자열처럼 인덱싱과 슬라이싱이 가능하다.

### 리스트의 인덱싱

In [ ]:
a = [1, 2, 3]

In [ ]:
a[0]

1

In [ ]:
a[0] + a[2]

4

이것은 1 + 3으로 해석되어 4라는 값을 출력한다.

In [ ]:
a[-1]

3

### 리스트의 슬라이싱

In [ ]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [ ]:
a[2:]

[3, 4, 5]

## 리스트 연산자

### 리스트 더하기(+)

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

In [ ]:
a + b

[1, 2, 3, 4, 5, 6]

### 리스트 반복하기(*)

In [ ]:
a = [1, 2, 3]

In [ ]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## 리스트의 수정, 변경과 삭제

a = [1, 2, 3]

a[2] = 4

a

In [ ]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

a[2]의 요소값 3이 4로 바뀌었다.

a = [1, 2, 3]

del a[1]

a

In [ ]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

## 리스트 관련 함수들

문자열과 마찬가지로 리스트 변수명 뒤에 '.'를 붙여서 여러 가지 리스트 관련 함수들을 이용할 수 있다.

### 리스트에 요소 추가(append)

append(x)는 리스트의 맨 마지막에 x를 추가시키는 함수이다.

a = [1, 2, 3]

a.append(4)

a

In [ ]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

### 리스트에 요소 삽입(insert)

insert(a, b)는 리스트의 a번째 위치에 b를 삽입하는 함수이다. 파이썬에서는 숫자를 0부터 센다는 것을 반드시 기억하자.

a = [1, 2, 3]

a.insert(0, 4)

a

In [ ]:
a = [1,2,3]
a.insert(0, 4)
a

[4, 1, 2, 3]

### 리스트 요소 끄집어내기(pop)

pop()은 리스트의 맨 마지막 요소를 돌려 주고 그 요소는 삭제하는 함수이다.

a = [1, 2, 3]

a.pop()

In [ ]:
a = [1,2,3]
a.pop()

3

In [ ]:
a

[1, 2]

# 4. 튜플 자료형

## 튜플은 어떻게 만들까?

튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같다.

- 리스트는 [과 ]으로 둘러싸지만 튜플은 (과 )으로 둘러싼다.
- 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

튜플의 모습은 다음과 같다.

In [ ]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

리스트와 모습은 거의 비슷하지만 튜플에서는 리스트와 다른 2가지 차이점을 찾아볼 수 있다. t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 한다는 것과 t4 = 1, 2, 3처럼 괄호()를 생략해도 무방하다는 점이다.

사실 튜플을 튜플로 만드는 것은 괄호가 아니라, 콤마이다.

얼핏 보면 튜플과 리스트는 비슷한 역할을 하지만 프로그래밍을 할 때 튜플과 리스트는 구분해서 사용하는 것이 유리하다. 튜플과 리스트의 가장 큰 차이는 값을 변화시킬 수 있는가 없는가이다. 즉, 리스트의 항목값은 변화가 가능하고 튜플의 항목값은 변화가 불가능하다. 따라서 프로그램이 실행되는 동안 그 값이 항상 변하지 않기를 바란다거나 값이 바뀔까 걱정하고싶지 않다면 주저하지 말고 튜플을 사용해야 한다. 이와는 반대로 수시로 그 값을 변화시켜야할 경우라면 리스트를 사용해야 한다. 실제 프로그램에서는 값이 변경되는 형태의 변수가 훨씬 많기 때문에 평균적으로 튜플보다는 리스트를 더 많이 사용하게 된다.

### 튜플의 요소값을 지우거나 변경하려고 하면 어떻게 될까?

In [ ]:
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: ignored

In [ ]:
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

TypeError: ignored

## 튜플의 인덱싱과 슬라이싱, 더하기(+)와 곱하기(*)

### 1. 인덱싱하기

t1 = (1, 2, 'a', 'b')

t1[3]

In [ ]:
t1 = (1, 2, 'a', 'b')
t1[3]

'b'

### 2. 슬라이싱하기

t1[1:]

In [ ]:
t1[1:]

(2, 'a', 'b')

### 3. 튜플 더하기

t2 = (3, 4)

t1 + t2

In [ ]:
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

### 4. 튜플 곱하기

t2 * 3

In [ ]:
t2 * 3

(3, 4, 3, 4, 3, 4)

# 5. 딕셔너리 자료형

딕셔너리(Dictionary)를 단어 그대로 해석하면 사전이라는 뜻이다. 즉, people이라는 단어에 "사람", baseball이라는 단어에 "야구"라는 뜻이 부합되듯이 딕셔너리는 Key와 Value라는 것을 한 쌍으로 갖는 자료형이다. 예컨대 Key가 "baseball"이라면 Value는 "야구"가 될 것이다.

딕셔너리는 리스트나 튜플처럼 순서(index)로 해당 요소값을 구하지 않고 Key를 통해 Value를 얻는다. 이것이 바로 딕셔너리의 가장 큰 특징이다. baseball이라는 단어의 뜻을 찾기 위해 사전의 내용을 순차적으로 모두 검색하는 것이 아니라 baseball이라는 단어가 있는 곳만 펼쳐 보는 것이다.

## 딕셔너리는 어떻게 만들까?

다음은 기본적인 딕셔너리의 모습이다.

{Key1:Value1, Key2:Value2, Key3:Value3, ...}

Key와 Value의 쌍 여러 개가 {과 }로 둘러싸여 있다. 각각의 요소는 Key : Value 형태로 이루어져 있고 쉼표(,) 로 구분되어 있다.

다음의 딕셔너리 예를 살펴보자.

In [ ]:
me = {'name':'john', 'phone':'01012345678', 'birth': '0101'}

In [ ]:
me

{'birth': '0101', 'name': 'john', 'phone': '01012345678'}

Key로는 문자열, 숫자 등이 들어갈 수 있다. 다음의 예는 Key로 정수값 1, Value로 'hi'라는 문자열을 사용한 예이다.

a = {1: 'hi'}

a

In [ ]:
a = {1:'hi'}
a[1]

'hi'

또한 다음의 예처럼 Value에 리스트도 넣을 수 있다.

a = {'a': [1,2,3]}

a

In [ ]:
a = {'a': [1,2,3]}
a

{'a': [1, 2, 3]}

## 딕셔너리 쌍 추가, 삭제하기

### 1. 딕셔너리 쌍 추가하기

a = {1: 'a'}

a[2] = 'b'

a

In [ ]:
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

존재하지 않는 key에 새 value를 할당하면 간단하게 딕셔너리 쌍을 추가할 수 있다.

### 2. 딕셔너리 요소 삭제하기

del a[1]

a

In [ ]:
del a[1]
a

{2: 'b'}

## 딕셔너리를 사용하는 방법

### 딕셔너리에서 Key 사용해 Value 얻기

In [ ]:
me = {'name':'john', 'phone':'01012345678', 'birth': '0101'}

me['name']

In [ ]:
me['name']

'john'

me['phone']

In [ ]:
me['phone']

'01012345678'

리스트나 튜플에서 인덱싱을 통해 요소값을 얻어낸 것처럼, 딕셔너리에서는 key를 통해 value를 얻을 수 있다.

### 딕셔너리 만들 때 주의할 사항

한 가지 주의해야 할 사항은 Key에 리스트는 쓸 수 없다는 것이다. 하지만 튜플은 Key로 쓸 수 있다. 딕셔너리의 Key로 쓸 수 있느냐 없느냐는 Key가 변하는 값인지 변하지 않는 값인지에 달려 있다. 리스트는 그 값이 변할 수 있기 때문에 Key로 쓸 수 없는 것이다. 아래 예처럼 리스트를 Key로 설정하면 리스트를 키 값으로 사용할 수 없다는 형 오류(TypeError)가 발생한다.

In [ ]:
a = {[1,2] : 'hi'}

TypeError: ignored

단, Value에는 변하는 값이든 변하지 않는 값이든 상관없이 아무 값이나 넣을 수 있다.

## 딕셔너리 관련 함수들

### Key 리스트 만들기(keys)

In [ ]:
me = {'name':'john', 'phone':'01012345678', 'birth': '0101'}

me.keys()

In [ ]:
me.keys()

dict_keys(['name', 'phone', 'birth'])

keys() 함수의 결과는 dict_keys라는 특수한 객체이다. dict_keys 객체를 리스트로 변환하려면 다음과 같이 하면 된다.

list(me.keys())

In [ ]:
list(me.keys())

['name', 'phone', 'birth']

### Value 리스트 만들기(values)

me.values()

In [ ]:
me.values()

dict_values(['john', '01012345678', '0101'])

In [ ]:
list(me.values())

['john', '01012345678', '0101']

### Key, Value 쌍 얻기(items)

me.items()

In [ ]:
list(me.items())

[('name', 'john'), ('phone', '01012345678'), ('birth', '0101')]

# 6. 집합 자료형

우리가 중학교 때부터 배웠던 바로 그 집합이 파이썬 기본 자료형으로 제공된다.

## 집합 자료형은 어떻게 만들까?

가장 직관적으로 집합을 만드는 방법은 중괄호({, })를 이용하는 것이다. 딕셔너리도 중괄호를 쓰지만, 딕셔너리에는 콜론(:)이 있는 반면 집합에는 콜론이 없다.

s1 = {1, 2, 3}

In [ ]:
s1 = {1,2,3}
s1

{1, 2, 3}

## 집합 자료형의 특징

중학교 때 배웠던 집합의 성질이 파이썬에도 그대로 적용된다. 즉, 집합은

- 중복을 허용하지 않는다.
- 순서가 없다(Unordered).

리스트나 튜플은 순서가 있기(ordered) 때문에 인덱싱을 통해 자료형의 값을 얻을 수 있지만 set 자료형은 순서가 없기(unordered) 때문에 인덱싱으로 값을 얻을 수 없다.

## 집합 자료형 활용하는 방법

우선 다음과 같이 2개의 set 자료형을 만들어보자.

In [ ]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8, 9}

### 교집합

s1 & s2

In [ ]:
s1 & s2

{4, 5, 6}

또는 다음과 같이 intersection 함수를 사용해도 동일한 결과를 리턴한다.

s1.intersection(s2)

In [ ]:
s1.intersection(s2)

{4, 5, 6}

s2.intersection(s1)을 사용해도 결과는 같다.

In [ ]:
s2.intersection(s1)

{4, 5, 6}

### 합집합

s1 | s2

In [ ]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

s1.union(s2)

In [ ]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 차집합

s1 - s2

In [ ]:
s1 - s2

{1, 2, 3}

s2 - s1

In [ ]:
s2 - s1

{7, 8, 9}

s1.difference(s2)

In [ ]:
s1.difference(s2)

{1, 2, 3}

In [ ]:
a = [1,2,3,1,2,3,2,1,4]
set(a)

{1, 2, 3, 4}

## 집합 자료형 관련 함수들

### 값 1개 추가하기(add)

이미 만들어진 set 자료형에 값을 추가할 수 있다. 1개의 값만 추가(add)할 경우에는 아래와 같이 한다.

s1 = {1, 2, 3}

s1.add(4)

s1

In [ ]:
s1 = {1,2,3}
s1.add(4)
s1

{1, 2, 3, 4}

### 값 여러 개 추가하기(update)

s1 = {1, 2, 3}

s1.update([4, 5, 6])

s1

In [ ]:
s1 = {1,2,3}
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

### 특정 값 제거하기(remove)

s1 = {1, 2, 3}

s1.remove(2)

s1

In [ ]:
s1 = {1,2,3}
s1.remove(2)
s1

{1, 3}

# 7. 그 밖의 자료형

## 참과 거짓

파이썬에는 참과 거짓을 표현하는 자료형이 있다. True와 False이다. 첫 글자가 대문자라는 데 유의하자.

True

In [ ]:
True

True

False

In [ ]:
False

False

참과 거짓은 조건문을 표현하는 데 유용하다. 예를 들어, 부등식의 결과는 참이나 거짓으로 나오게 된다.

3 > 2

In [ ]:
3 > 2

True

4 > 7

In [ ]:
4 > 7

False

리스트나 튜플, 딕셔너리에 특정 값이 존재하는지 검사 결과도 참 또는 거짓으로 나온다.

a = [1, 2, 3]

3 in a

In [ ]:
a = [1,2,3]
3 in a

True

a = ('a', 'b', 'c')

'd' in a

In [ ]:
a = ('a', 'b', 'c')
'd' in a

False

딕셔너리에서 in은 value가 아닌 key 중에 존재하는지 검사한다.

In [ ]:
me = {'name':'john', 'phone':'01012345678', 'birth': '0101'}

'name' in me

In [ ]:
'name' in me

True

'john' in me

In [ ]:
'john' in me

False

## 존재하지 않음

마지막으로, 파이썬에는 존재하지 않음을 나타내는 자료형 None이 있다. 데이터에서 측정이 안된 값 등을 나타내는 데 유용하게 사용된다.

None

In [ ]:
None

# 8. 형 변환

내장함수를 이용해 한 자료형에서 다른 자료형으로 형 변환을 할 수 있다.

a = '3'

int(a)

In [ ]:
a = '3'
int(a)

3

t = {'a', 'b', 'c', 'd', 'e', 'f'}

list(t)

In [ ]:
t = {'a', 'b', 'c', 'd', 'e', 'f'}
list(t)

['b', 'a', 'c', 'd', 'f', 'e']

a = 57

str(a)

In [ ]:
a = 57
str(a)

'57'

Q. ['A', 'C', 'S', 'D', 'F', 'A', 'S', 'F', 'D', 'A'] 에서 서로 다른 알파벳의 개수는?

In [ ]:
l = ['A', 'C', 'S', 'D', 'F', 'A', 'S', 'F', 'D', 'A']

In [ ]:
len(set(l))

5

# 9. 형 확인

내장함수를 이용해 데이터의 타입을 확인할 수 있다.

a = 4

type(a)

In [ ]:
a = [1,2,3]
type(a)

list